@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100% /* white */;
    --foreground: 240 10% 4% /* zinc-950 */;
    --card: 0 0% 100% /* white */;
    --card-foreground: 240 10% 4% /* zinc-950 */;
    --popover: 0 0% 100% /* white */;
    --popover-foreground: 240 10% 4% /* zinc-950 */;
    --primary: 222 84% 54% /* blue-600 */;
    --primary-foreground: 214 100% 97% /* blue-50 */;
    --secondary: 220 15% 96% /* gray-100 */;
    --secondary-foreground: 221 40% 11% /* gray-900 */;
    --muted: 240 5% 96% /* zinc-100 */;
    --muted-foreground: 240 4% 47% /* zinc-500 */;
    --accent: 220 15% 96% /* gray-100 */;
    --accent-foreground: 221 40% 11% /* gray-900 */;
    --destructive: 0 85% 61% /* red-500 */;
    --destructive-foreground: 0 0% 99% /* zinc-50 */;
    --border: 240 6% 90% /* zinc-200 */;
    --input: 240 6% 90% /* zinc-200 */;
    --ring: 222 84% 54% /* blue-600 */;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 4% /* zinc-950 */;
    --foreground: 0 0% 99% /* zinc-50 */;
    --card: 240 10% 4% /* zinc-950 */;
    --card-foreground: 0 0% 99% /* zinc-50 */;
    --popover: 240 10% 4% /* zinc-950 */;
    --popover-foreground: 0 0% 99% /* zinc-50 */;
    --primary: 222 84% 54% /* blue-600 */;
    --primary-foreground: 214 100% 97% /* blue-50 */;
    --secondary: 215 28% 17% /* gray-800 */;
    --secondary-foreground: 210 20% 99% /* gray-50 */;
    --muted: 240 4% 16% /* zinc-800 */;
    --muted-foreground: 240 6% 65% /* zinc-400 */;
    --accent: 215 28% 17% /* gray-800 */;
    --accent-foreground: 210 20% 99% /* gray-50 */;
    --destructive: 0 63% 31% /* red-900 */;
    --destructive-foreground: 0 0% 99% /* zinc-50 */;
    --border: 240 4% 16% /* zinc-800 */;
    --input: 240 4% 16% /* zinc-800 */;
    --ring: 222 84% 54% /* blue-600 */;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-checker {
    background: top left / calc(100% / 8);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAIAAAD91JpzAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTZEaa/1AAAAFUlEQVQYV2PYv3//////GYB4//79AEk6CnVgRItzAAAAAElFTkSuQmCC");
    image-rendering: pixelated;
  }
}
